.containerLog {
  max-width: 100%;
  height: 100vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 90vh;
}

.btn {
  font-weight: bold;
  width: 200px;
  margin: 0 35px 20px;
  height: 45px;
  padding: 6px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #ee9ba3;
  color: var(--white);
  font-size: 14px;
  max-width: 100%;
  box-sizing: unset;
  transition: 0.5s;
}
.btn:hover {
  background: rgb(151, 213, 252);

  color: var(--black);
}

input {
  padding: 0.5rem;
  margin: 1rem;
}

.c2 {
  background-image: linear-gradient(
    to right,
    rgba(201, 199, 199, 0.693),
    rgb(211, 212, 210)
  );
  width: 320px;
  height: 343px;
  border-radius: 15px;
  left: 370px;
  display: inline-block;
}

.username {
  box-sizing: content-box;
  font-weight: bold;
  width: 200px;
  margin: 0 35px 20px;
  height: 35px;
  padding: 6px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f6f7f9;
  color: #748194;
  font-size: 14px;
}

.signup1 {
  color: #748194;
  font-size: 30px;
  text-align: center;
}
.signup2 {
  color: #748194;
  font-size: 15px;
  text-align: center;
}
.mainC {
  max-height: 90vh;
  margin: auto;
  align-items: center;
}

.error {
  position: relative;
  width: 100%;
  margin: 2rem auto;
  font-size: 2rem;
  text-align: center;
}
